<header class="navbar">
    <div class="links">
        <a href="/dashboard">dashboard</a>
        <a href="/tasks">proposals</a>
        <a href="/profile">profile</a>
        <a href="/logout">logout</a>
    </div>
</header>