<aside class="sidebar">
    <div class="top">
        <div class="logo">
            <h1>BUHREC</h1>
        </div>
        <div class="progress-box">
            <div class="progress active">
                <div class="progress-index-box">
                    <div class="progress-index">
                        <span>1</span>
                    </div>
                </div>
                <div class="progress-text">
                    <h1>Login to your account</h1>
                    <p>Enter your credentials to access your account</p>
                </div>
            </div>
            <div class="progress">
                <div class="progress-index-box">
                    <div class="progress-index">
                        <span>2</span>
                    </div>
                </div>
                <div class="progress-text">
                    <h1>Verification & Validation</h1>
                    <p>Trying to ensure data accuracy and reliability </p>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <p class="quote">“You vexed shy mirth now noise. Talked him people valley add use her depend letter. Allowance”</p>
        <div class="profile progress active">
            <div class="pfp img-here">
                <img src="/images/pfp/divine.jpg" alt="pfp">
            </div>
            <div class="progress-text">
                <h1 class="cap">ezenagu divine</h1>
                <p class="cap">assistant group leader</p>
            </div>
        </div>
    </div>
</aside>