@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;

    font-family: "Inter", sans-serif;
    font-weight: 400;
}

:root {
    --white: 255, 255, 255;
    --black: 0, 0, 0;

    --errie-black: #171717;
    --light: #FFFFFF;
    --jet: #2C2C2C;
    --wisteria: #D0AAE7;
    --malachite: #4DE265;

    --sub: rgba(var(--white), 0.7);
    --super-sub: rgba(var(--white), 0.4);

    --sidebar-padding: 30px;
    --input-padding: 15px;

    --text: 0.88em;
    --small-text: 0.8em;
    --tiny-text: 0.7em;
}


body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--errie-black);

    overflow-x: hidden;
}

main {
    display: flex;
}

a {
    text-decoration: none;
}


/* Common styles */
.cap {
    text-transform: capitalize !important;
}

.img-here {
    overflow: hidden;
}

.img-here img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.highlight {
    color: var(--wisteria) !important;
}

.error {
    color: red !important;
    font-size: var(--tiny-text);
}


/* Form styles */
.form-box {
    flex: 1;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: var(--sidebar-padding);
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-group.change p {
    text-align: center;
    font-size: var(--text)
}

label {
    font-size: var(--text);
}

label:not(.no-star)::after {
    content: "*";
    color: red;
}

input {
    padding: var(--input-padding);
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid var(--super-sub);
    color: var(--sub);
}

input[type="checkbox"] {
    display: none;
}

button {
    padding: var(--input-padding);
    background-color: var(--wisteria);
    color: black;
    border-radius: 10px;
    text-transform: capitalize;
    font-weight: 600;
    cursor: pointer;
}

.extra {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.extra a {
    font-size: var(--small-text);
    text-transform: capitalize;
    color: var(--wisteria);
}

.form-special {
    display: flex;
    flex-direction: column;
    gap: calc(var(--sidebar-padding) / 2);
}


.role {
    --color: var(--sub);

    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--color);
    border-radius: 10px;
    cursor: pointer;

    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

.role-cont {
    display: flex;
    align-items: center;
    gap: 10px;
}

.role-img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.role-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.role-text h1 {
    font-size: 1em;
    font-weight: 600;
}

.role-text p {
    font-size: 0.8em;
    color: var(--color);
}

.role-check {
    width: 20px;
    height: 20px;
    border: 2px solid var(--color);
    border-radius: 100%;
}

.role-check img {
    opacity: 0;
}


/* Styles for when role is checked */
.role.checked {
    --color: var(--wisteria);
}

.role.checked .role-text h1 {
    color: var(--wisteria);
}

.role.checked .role-check img {
    opacity: 1;
}


/* Spinner */
:not(.spinner)>.spinner:first-child {
    opacity: 1;
}

.spinner {
    width: 100%;
    height: 100%;

    display: flex !important;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

[data-spinner] {
    border: 3px solid black;
    border-left-color: transparent;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}