<form class="form" action="/extra" method="post">
    <div class="heading">
        <h1>Additional information</h1>
        <p>Share additional information to personalize your experience</p>
    </div>
    <div class="form-group">
        <label for="degree">Degree</label>
        <select id="degree" name="degree">
            <option value="">Select a degree</option>
            <option value="bsc">BSc - Bachelor of Science</option>
            <option value="msc">MSc - Master of Science</option>
            <option value="phd">PhD - Doctor of Philosophy</option>
        </select>
    </div>
    <div class="form-group">
        <label for="course">course speciality</label>
        <select id="course" name="course">
            <option value="">Select a course</option>
            <% courses.forEach(course=> { %>
                <option value=<%=course %>><%= course.split("_").join(" ") %></option>
            <% }) %>
        </select>
    </div>
    <div class="form-group">
        <button type="submit">continue</button>
    </div>
</form>