<form class="form" action="/select-role" method="post">
    <div class="heading">
        <h1>Select a role</h1>
        <p>Select your role to customize your experience and get started</p>
    </div>
    <div class="form-roles">
        <div class="form-group">
            <label for="student" class="role no-star">
                <div class="role-cont">
                    <div class="role-img img-here">
                        <img src="/images/pfp/student.jpg" alt="student">
                    </div>
                    <div class="role-text">
                        <h1>I'm a student</h1>
                        <p>Submit proposals and contribute to research</p>
                    </div>
                </div>
                <div class="role-checkbox">
                    <div class="role-check img-here">
                        <img src="/images/icons/check.png" alt="check">
                    </div>
                </div>
            </label>
            <input type="radio" name="role" id="student" value="student">
        </div>
        <div class="form-group">
            <label for="researcher" class="role no-star">
                <div class="role-cont">
                    <div class="role-img img-here">
                        <img src="/images/pfp/researcher.jpg" alt="researcher">
                    </div>
                    <div class="role-text">
                        <h1>I'm a researcher</h1>
                        <p>Submit proposals and contribute to research</p>
                    </div>
                </div>
                <div class="role-checkbox">
                    <div class="role-check img-here">
                        <img src="/images/icons/check.png" alt="check">
                    </div>
                </div>
            </label>
            <input type="radio" name="role" id="researcher" value="researcher">
        </div>
        <div class="form-group">
            <label for="reviewer" class="role no-star">
                <div class="role-cont">
                    <div class="role-img img-here">
                        <img src="/images/pfp/reviewer.jpg" alt="reviewer">
                    </div>
                    <div class="role-text">
                        <h1>I'm a reviewer</h1>
                        <p>Submit proposals and contribute to research</p>
                    </div>
                </div>
                <div class="role-checkbox">
                    <div class="role-check img-here">
                        <img src="/images/icons/check.png" alt="check">
                    </div>
                </div>
            </label>
            <input type="radio" name="role" id="reviewer" value="reviewer">
        </div>
    </div>    
    <div class="form-group">
        <button type="submit">continue</button>
    </div>
</form>