<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BUHREC</title>

    <%- include('partials/head') %>
        <link rel="stylesheet" href="/styles/landing.css">

</head>

<body>

    <main>
        <div class="landing">
            <div class="landing-info">
                <div class="landing-heading">
                    <h1>Elevate your<br>proposals with<br>expert reviews!</h1>
                    <div class="landing-links">
                        <a href="/login">Login to your account</a>
                        <a href="/signup">Create an account</a>
                    </div>
                </div>
                <div class="landing-about">
                    <div class="about-us">
                        <h1>about us</h1>
                        <p>At BUHREC, our seasoned reviewers provide invaluable feedback, helping you refine your
                            proposals and achieve success.</p>
                    </div>
                </div>
            </div>
            <div class="landing-img">
                <div class="slider landing-slider">
                    <img src="/images/others/man.jpg" alt="img">
                    <!-- <img src="/images/others/girl.jpg" alt="img">
                    <img src="/images/others/girls.jpg" alt="img"> -->
                </div>
                <div class="landing-row">
                    <div class="members">
                        <div class="avatars">
                            <img src="/images/avatars/avatar-1.png" alt="pfp">
                            <img src="/images/avatars/avatar-2.png" alt="pfp">
                            <img src="/images/avatars/avatar-3.png" alt="pfp">
                            <img src="/images/avatars/avatar-4.png" alt="pfp">
                            <img src="/images/avatars/avatar-5.png" alt="pfp">
                        </div>
                        <div class="numbers-box">
                            <div class="numbers">
                                <p>5</p>
                                <span>/</span>
                                <span>5</span>
                            </div>
                        </div>
                        <p class="members-text">Sigma males at work</p>
                    </div>
                    <!-- <div class="slider landing-row-slider">
                        <img src="/images/UI/Task.png" alt="img">
                    </div> -->
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="contact">
                <h1>contact us:</h1>
            </div>
            <div class="contact">
                <img src="/images/icons/whatsapp.png" alt="contact">
                <p>+234 905 251 3369</p>
            </div>
            <div class="contact">
                <img src="/images/icons/github.png" alt="contact">
                <p>dadateniola</p>
            </div>
            <div class="contact">
                <img src="/images/icons/twitter.png" alt="contact">
                <p>@DavidAb85515734</p>
            </div>
        </div>
    </main>

</body>

</html>