<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Create an account</title>

    <%- include('partials/head') %>
</head>

<body>

    <%- include('partials/alert') %>
    <main>
        <%- include('partials/sidebar') %>
            <div class="form-box"></div>
    </main>

    <%- include('partials/foot') %>
    <script src="/scripts/signup.js"></script>

</body>

</html>